.THIS .forceToastMessage{
    width: fit-content;
    display: inline-block;
}

.THIS .content-inline{
    display: inline-block;
}

.THIS .content-flex{
    display: inline-flex;
}

.THIS .title-txt{
    text-align: center;
}

.THIS .msg-txt{
    margin-left: 10px;
}

.THIS .slds-notify--toast{
    min-width: 0;
}